.text_center {
    text-align: center;
}

.mt_big {
    margin-top: 78px !important;
}

.mt_mid {
    margin-top: 48px !important;
}

.round_corners {
    border-radius: 8px !important;
}

.big_icon {
    font-size: 18px !important;
}